@page "/getintouch"



<div class="text-center border my-5 rounded">
    <div class="display-6">Contact </div>
    <div class="lead">
        <i class="fa fa-phone my-3"></i>
        <p>
        Bizimle iletişime geçin
        </p>
        <p>
            0530 857 17 03
        </p>
        <i class="fa fa-map my-3"></i>
        <p>
        Bizi Ziyaret edin
        </p>
        <p>
            Merkez Mahallesi Ayşıl sokak no 37 daire 3
        </p>
        <i class="fa-solid fa-envelope my-3"></i>
        <p>
        Bize mail atın
        </p>
        <p>
            Yusuf.gurcan.34@hotmail.com
        </p>
    </div>
</div>